body {
    display: flex;
    height: 100vh;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: center;
    overflow: hidden;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    position: fixed;
    top: 0;
    justify-content: center;
    background-color: #965A5A;
}

a {
    text-decoration: none;
}

.navbar-logo {
    margin: 1rem;
}

.nav-content {
    margin-top: 3rem;
}

/*  New color */
.nc {
   color: #413939;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 10rem;
    justify-content: center;
}

.content {
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    position: fixed;
    justify-content: center;
    bottom: 0;
    background-color: #965A5A;
}

.m-footer {
    background-color: #965A5A;
    color: #413939;
}

