body {
    position: absolute;
    background-size: cover;
    width: 100%;
}

main {
    flex: 1 1 auto;
    flex-flow: column;
    overflow-y: scroll;
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

main > h3 {
    text-align: inherit;
    margin: inherit;
    width: 70%;
    justify-content: center;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #965A5A;
}

footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #965A5A;
    color: #413939;
}

