main {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    overflow-y: auto;
    margin: auto;
    height: 100%;
    text-align: center;
}

main > h3 {
    text-align: inherit;
    margin: inherit;
    width: 70%;
    padding-top: 15%;
    justify-content: center;
}

nav {
    display: flex;
    background-color: #965A5A;
}

nav > a {
    align-self: flex-end;
    margin-bottom: 0;
    color: #413939;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #965A5A;
    color: #413939;
}
