body {
    position:absolute;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

main > h3 {
    text-align: inherit;
    margin: inherit;
    width: 70%;
    justify-content: center;
}

main > p {
    text-align: inherit;
    margin: inherit;
    margin-top: 0;
    width: 70%;
    justify-content: center;
}

nav {
    position: fixed;
    tops: 0;
    display: flex;
    background-color: #965A5A;
}

nav > a {
    align-self: flex-end;
    margin-bottom: 0;
    color: #413939;
}

footer {
    text-align: center;
    background-color: #965A5A;
    color: #413939;
    bottom: 0;
    margin: auto;
    width: 100%;
}
