package views

templ Layout( title string ){
    <!DOCTYPE html>
    <html lang="en">
        <meta charset="UTF-8">
        <meta device="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <head>
            <title>{title}</title>
        </head>
        <body>
            @Navbar()
            { children... }
        </body>
        <footer>
        </footer>
    </html>
}
